.brand-name {
  color: #001327 !important;
  font-size: 2rem !important;
  font-weight: bold !important;
}

li a {
  color: #001327 !important;
  font-size: 1.2rem;
  font-weight: bolder;
  transition: 0.3s ease-in;
}

li a:hover {
  color: #45c882 !important;
}

.login-btn {
  background: #45c882;
  border-radius: 10px;
  color: #000 !important;
}

.login-btn:hover {
  background: #000;
}
